<div class="user-profile p-4 border-bottom">
  <div class="d-flex align-items-center">
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-medium ms-2 me-2" %>
      <div class="p-2 user-info">
        <%= current_user.profile.first_name %> <%= current_user.profile.last_name %> <span id="username" class="ms-1">@<%= current_user.profile.username %></span>
      </div>
  </div>
  <div class="mt-2 p-1 ps-3 pe-3">
    <%= current_user.profile.description %>
  </div>
</div>

<div class="d-flex justify-content-center mt-4 mb-4">
  <%= month_calendar(events: @all) do |date, events| %>
    <%= date.day %>
    <div style="max-height: 20px; overflow: hidden;">
      <% events.each do |event| %>
        <div style="height: 3px; width: 20px; background-color: green; margin: 0 auto; margin-top: 2px;"></div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="event-container mt-3">
  <h2 class="mb-4 text-center">My upcoming events</h2>
  <% @all.each do |event| %>
    <%= link_to event_path(event) do  %>
      <div class="event-card d-flex">
        <div class="event-card-left" style="background-image: url('https://images.pexels.com/photos/976866/pexels-photo-976866.jpeg'); background-size: cover;"></div>
        <div class="event-card-right">
          <h5 class="card-title"><%= event.title %></h5>
          <div class="event-right-info">
            <p class="mt-2 mb-2"><i class="fa-solid fa-calendar-days me-2"></i><%= event.start_date.strftime('%e %B %Y') %></p>
            <p class="m-0 d-flex"><i class="fa-solid fa-location-dot me-2 pt-1"></i><span class="event-address"><%= event.address %></span></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
