<div class="user-profile p-4 border-bottom">
  <div class="d-flex align-items-center">
    <%= cl_image_tag current_user.profile.photo.key, class: "avatar-medium ms-2 me-2" %>
      <div class="p-2 user-info">
        <%= current_user.profile.first_name %> <%= current_user.profile.last_name %> <span id="username" class="ms-1">@<%= current_user.profile.username %></span>
      </div>
  </div>
  <div class="mt-2 p-1 ps-3 pe-3">
    <%= current_user.profile.description %>
  </div>
</div>

<div class="d-flex justify-content-center mt-4 mb-4">
  <%= month_calendar(events: @all) do |date, events| %>
    <%= date.day %>
    <div style="max-height: 20px; overflow: hidden;">
      <% events.each do |event| %>
        <div style="height: 3px; width: 20px; background-color: green; margin: 0 auto; margin-top: 2px;"></div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="event-container mt-3">
  <h2 class="mb-4 text-center">My upcoming events</h2>
  <% @all.each do |event| %>
    <%= link_to event_path(event) do  %>
      <div class="event-card d-flex align-items-center justify-content-center mb-4">
        <div class="card-info d-flex flex-column align-items-center justify-content-around">
          <p class="event-date mt-2 mb-2 text-center"><i class="fa-solid fa-calendar-days me-2"></i><%= event.start_date.strftime('%e %B %Y') %> - <%= event.end_date.strftime('%e %B %Y') %></p>
          <h2 class="event-title text-center"><%= event.title %></h2>
          <p class="event-address m-0 d-flex justify-content-center"><span class="address text-center"><i class="fa-solid fa-location-dot"></i> <%= event.address %></span></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
