<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top border-bottom">
  <div class="container-fluid" id="navbar-div">
    <%= link_to "/", class: "navbar-brand ms-2" do %>
      <%= image_tag "logo.png", id: "logo" %>
    <% end %>

    <div>
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <div id="navbar-icons">
            <li class="nav-item">
              <% if current_user.received_invitations.count > 0%>
                <div class="notification-box">
                  <%= link_to '<i class="fa-solid fa-bell"></i>'.html_safe, invitations_path %>
                  <%= link_to '<i class="fa-solid fa-circle blue-dot"></i>'.html_safe, invitations_path %>
                  <%= link_to '<i class="fa-solid fa-circle white-dot"></i>'.html_safe, invitations_path %>
                </div>
              <% else %>
                <div>
                  <%= link_to '<i class="fa-solid fa-bell"></i>'.html_safe, invitations_path %>
                </div>
              <% end %>
            </li>
            <li class="nav-item dropdown ms-2">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa-solid fa-gear text-black"></i>
            </a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Settings", edit_user_registration_path , class: "dropdown-item" %>
                <%#= link_to "Another action", "#", class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              </div>
            </li>
          </div>
        <% else %>
          <li class="nav-item">
            <%= link_to "Log in", new_user_session_path, class: "nav-link", id: "login" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
