<div class="<%= 'd-none' if index < count - 5  %> <%= current_user == comment.user ? 'current-user-comment' : 'other-user-comment' %>" <%= 'data-event-showpage-target=comment' if index < count - 5 %>>
  <strong><%= comment.user.profile.username %>: </strong><%= comment.content %>
</div>
