<h1>Events</h1>

<div class="row">
  <div class="col-12">
    <%= form_with(url: events_path, method: :get, local: true, class: "form-inline my-2 my-lg-0") do %>
      <%= text_field_tag :query, params[:query], placeholder: "Search events", class: "form-control mr-sm-2" %>
      <div class="row justify-content-center">
        <%= submit_tag "Search", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>




<% @public_events.each do |event| %>
  <div class="custom-card">
      <div class="card-body">
        <h5 class="card-title"><%= event.title %></h5>
        <p class="card-text"><%= event.description.truncate(80) %></p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <%= link_to 'Show', event, class: 'btn-group' %>
          </div>
            Start: <%= event.start_date.strftime('%d/%m/%Y') %> <br>
            End: <%= event.end_date.strftime('%d/%m/%Y') %> <br>
            Address: <%= event.address %> <br>
            Category: <%= event.category %>

        </div>
      </div>
  </div>
<% end %>
