<div class="event-container mt-4 ms-1 me-1">

  <h1 class="text-center">Events</h1>

  <% if @session_redirect %>
    <div class="row" data-search-target="searchBar">
  <% else %>
    <div class="row d-none" data-search-target="searchBar">
  <% end %>
      <div class="col-12 border">

      <%= form_with(url: events_path, method: :get, local: true, class: "form-inline mt-2", data: { controller: 'flatpickr' }) do |form| %>
        <%= form.text_field :query, placeholder: "Search events", value: params[:query], class: "form-control rounded"  %>

        <div class="form-group flex-container row">
          <%= form.select :city, options_for_select([["Select city", ""]] + @cities, params[:city]), {}, { class: "form-control rounded col-6 me-2" } %>
          <%= form.text_field :dates, as: :string, placeholder: "Date range", value: params[:dates], data: { flatpickr_target: "dates" } , class: "form-control rounded col-6 ms-2" %>
        </div>
        <div class="text-center">
          <%= form.submit "Search", class: "button-primary mb-2" %>
        </div>
      <% end %>
    </div>
  </div>

  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">

        <div class="type-of-event">
          <p class="pt-4 pb-4 text-center">Popular near you</p>
        </div>

        <% @public_events.each do |event| %>
          <%= link_to event_path(event) do  %>
            <div class="event-card d-flex align-items-center justify-content-center mb-4">
              <div class="card-info d-flex flex-column align-items-center justify-content-around">
                <p class="event-date mt-2 mb-2 text-center"><i class="fa-solid fa-calendar-days me-2"></i><%= event.start_date.strftime('%e %B %Y') %> - <%= event.end_date.strftime('%e %B %Y') %></p>
                <h2 class="event-title text-center"><%= event.title %></h2>
                <p class="event-address m-0 d-flex justify-content-center"><span class="address text-center"><i class="fa-solid fa-location-dot"></i> <%= event.address %></span></p>
              </div>
            </div>
          <% end %>
        <% end %>

      </div>
      <div class="carousel-item">

        <div class="type-of-event">
          <p class="pt-4 pb-4 text-center">Friends looking for a buddy</p>
        </div>

        <% @friends_bookings.each do |booking| %>
          <%= link_to event_path(booking.event) do  %>
            <div class="event-card d-flex">
              <div class="event-card-left" style="background-image: url('https://images.pexels.com/photos/976866/pexels-photo-976866.jpeg'); background-size: cover;"></div>
              <div class="event-card-right">
                <h5 class="card-title"><%= booking.event.title %></h5>
                with <%= booking.user.profile.first_name %><%= booking.user.profile.last_name %> ?
                <div class="event-right-info">
                  <p class="mt-2 mb-2">
                    <i class="fa-solid fa-calendar-days me-2"></i>
                    From: <%= booking.event.start_date.strftime('%e %B %Y, %H:%M') %>
                  </p>
                  <p class="m-0 d-flex"><i class="fa-solid fa-location-dot me-2 pt-1"></i><span class="event-address"><%= booking.event.address %></span></p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>

      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <i class="fa-solid fa-arrow-left"></i>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <i class="fa-solid fa-arrow-right"></i>
    </button>
  </div>
</div>
