<div class="mt-4 ms-1 me-1">

  <h1 class="text-center">Events</h1>

  <% if @session_redirect %>
    <div class="row" data-search-target="searchBar">
  <% else %>
    <div class="row d-none" data-search-target="searchBar">
  <% end %>

    <div class="border">

      <%= form_with(url: events_path, method: :get, local: true, class: "form-inline mt-3 mb-3", data: { controller: 'flatpickr' }) do |form| %>
        <%= form.text_field :query, placeholder: "Search events", value: params[:query], class: "form-control rounded"  %>

        <div class="d-flex mt-2 mb-3">
          <%= form.select :city, options_for_select([["Select city", ""]] + @cities, params[:city]), {}, { class: "form-control rounded me-2" } %>
          <%= form.text_field :dates, as: :string, placeholder: "Date range", value: params[:dates], data: { flatpickr_target: "dates" } , class: "form-control rounded ms-2" %>
        </div>
        <div class="text-center">
          <%= form.submit "Search", class: "button-primary w-100" %>
        </div>
      <% end %>
    </div>

  </div>

  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">

      <div class="carousel-item active">

        <div class="type-of-event">
          <p class="pt-4 pb-4 text-center">Popular near you</p>
        </div>

        <% @public_events.each do |event| %>
          <%= link_to event_path(event) do  %>
            <div class="event-card d-flex align-items-center justify-content-center mb-4">
              <div class="card-info d-flex flex-column align-items-center justify-content-around">
                <p class="event-date mt-2 mb-2 text-center"><i class="fa-solid fa-calendar-days me-2"></i><%= event.start_date.strftime('%e %B %Y') %> - <%= event.end_date.strftime('%e %B %Y') %></p>
                <h2 class="event-title text-center"><%= event.title %></h2>
                <p class="event-address m-0 d-flex justify-content-center"><span class="address text-center"><i class="fa-solid fa-location-dot"></i> <%= event.address %></span></p>
              </div>
            </div>
          <% end %>
        <% end %>

      </div>

      <div class="carousel-item">

        <div class="type-of-event">
          <p class="pt-4 pb-4 text-center">go Together?</p>
        </div>

        <% @friends_bookings.each do |booking| %>

          <%= link_to user_profile_path(booking.user), class: "d-flex justify-content-center align-items-center mb-2" do %>
            <%= cl_image_tag booking.user.profile.photo.key, class: "avatar-medium border" %> <span class="ms-2 me-2 booking-user">@<%= booking.user.profile.username %></span>
          <% end %>

          <%= link_to event_path(booking.event) do  %>
            <div>
              <div class="event-card d-flex align-items-center justify-content-center mb-4">
                <div class="card-info d-flex flex-column align-items-center justify-content-around">
                  <p class="event-date mt-2 mb-2 text-center"><i class="fa-solid fa-calendar-days me-2"></i><%= booking.event.start_date.strftime('%e %B %Y') %> - <%= booking.event.end_date.strftime('%e %B %Y') %></p>
                  <h2 class="event-title text-center"><%= booking.event.title %></h2>
                  <p class="event-address m-0 d-flex justify-content-center"><span class="address text-center"><i class="fa-solid fa-location-dot"></i> <%= booking.event.address %></span></p>
                </div>
              </div>
            </div>
          <% end %>

        <% end %>

      </div>

      <div class="carousel-item">

        <div class="type-of-event">
          <p class="pt-4 pb-4 text-center">Friends' events</p>
        </div>

        <% @public_friends_events.each do |event| %>
          <%= link_to event_path(event) do  %>
            <div class="event-card d-flex align-items-center justify-content-center mb-4">
              <div class="card-info d-flex flex-column align-items-center justify-content-around">
                <p class="event-date mt-2 mb-2 text-center"><i class="fa-solid fa-calendar-days me-2"></i><%= event.start_date.strftime('%e %B %Y') %> - <%= event.end_date.strftime('%e %B %Y') %></p>
                <h2 class="event-title text-center"><%= event.title %></h2>
                <p class="event-address m-0 d-flex justify-content-center"><span class="address text-center"><i class="fa-solid fa-location-dot"></i> <%= event.address %></span></p>
              </div>
            </div>
          <% end %>
        <% end %>

      </div>

    </div>

    <button class="carousel-control-prev ms-3" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <i class="fa-solid fa-arrow-left"></i>
    </button>
    <button class="carousel-control-next me-3" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <i class="fa-solid fa-arrow-right"></i>
    </button>
  </div>
</div>
