<div class="form container">
  <%= simple_form_for (@event) do |f| %>
    <%= f.input :title %>
    <%= f.input :address %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :description %>
    <%= f.input :category %>
    <%= f.input :photo, as: :file %>
    <%= f.input :is_private %>
    <%= f.submit "submit", class: "button-primary" %>
  <% end %>
  <div id="back"><%= link_to "Back", root_path, class: "button-secondary" %></div>
</div>
