<div class="container"
     data-controller="event-showpage map"
     data-map-markers-value="<%= @markers.to_json %>"
     data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">

  <div class="back-icon"><%= link_to "<i class='fa-solid fa-chevron-left'></i>".html_safe, events_path %></div>

  <div class="show-event-card row">
    <div class="show-event-card-header d-flex mt-3 mb-3 pt-2 pb-2">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-large ms-2 me-3" %>
      <div class="header-info-box">
        <p class="m-0">@<%= @event.user.profile.username %></p>
        <h2 class="m-0 mt-2"><%= @event.title %></h2>
      </div>
    </div>

    <p class="text-center"><%= @event.description%></p>

    <div>
      <div class="row show-event-image" style="background-image: url(<%= image_path('Placeholder.png') %>)"></div>

      <div class="d-flex align-items-center justify-content-center">
        <i class="fa-solid fa-calendar-days p-2"></i>
        <p class="text-center mt-3 mb-2 ms-3 me-3"><%= "From: #{@event.start_date.strftime('%e %B %Y, %H:%M')}" %> <br> <%= "To: #{@event.end_date.strftime('%e %B %Y, %H:%M')}" %></p>
      </div>

      <div class="d-flex align-items-center justify-content-center" data-action="click->event-showpage#toggleMap click->map#resize">
        <i class="fa-solid fa-location-dot p-2 m-1"></i>
        <p class="text-center m-1 "><%= @event.address %></p>
      </div>

      <div
        class="border d-none"
        style="width: 100%; height: 300px;"
        data-map-target="map"
        data-event-showpage-target="location">
      </div>
    </div>

    <div class="d-flex justify-content-between show-event-card-footer mt-3">

      <div class="d-flex align-items-center">
        <% if @event.user.profile.is_business %>
          <% if @booking && @booking.status == "going" %>
            <%= link_to '<i class="fa-solid fa-xmark"></i>'.html_safe, booking_path(@booking), class: 'button-secondary', data: {turbo_method: :delete}, id: "button-unattend" %>
            <%= link_to '<i class="fa-solid fa-people-pulling"></i>'.html_safe, booking_path(@booking, status: :looking_for_a_buddy), data: {turbo_method: :patch}, class: 'button-primary' %>
          <% elsif @booking && @booking.status == "looking_for_a_buddy" %>
            <%= link_to '<i class="fa-solid fa-check"></i>'.html_safe, booking_path(@booking, status: :going), data: {turbo_method: :patch}, class: 'button-primary' %>
            <%= link_to '<i class="fa-solid fa-person-walking"></i>'.html_safe, booking_path(@booking), data: {turbo_method: :delete}, class: 'button-secondary' %>
          <% else %>
            <%= link_to '<i class="fa-solid fa-check"></i>'.html_safe, event_bookings_path(@event, status: :going), data: {turbo_method: :post}, class: 'button-primary' %>
            <%= link_to '<i class="fa-solid fa-people-pulling"></i>'.html_safe, event_bookings_path(@event, status: :looking_for_a_buddy), data: {turbo_method: :post}, class: 'button-primary' %>
          <% end %>

        <% else %>
          <% if @booking.nil? %>
              <%= link_to '<i class="fa-solid fa-calendar-plus"></i>'.html_safe, event_bookings_path(@event, status: "going"), data: {turbo_method: :post}, class: 'button-secondary' %>
              <%= link_to '<i class="fa-solid fa-calendar-xmark"></i>'.html_safe, delete_invitation_path(current_user.invitations.find_by(event: @event)),  data: {turbo_method: :delete}, class: 'button-secondary' %>
          <% else %>
            <% if @booking && @booking.status == "going" %>
              <%= link_to '<i class="fa-solid fa-calendar-xmark"></i>'.html_safe, booking_path(@booking), data: {turbo_method: :delete}, class: 'button-secondary' %>
            <% else %>
              <%= link_to '<i class="fa-solid fa-calendar-plus"></i>'.html_safe, event_bookings_path(@event, status: "going"), data: {turbo_method: :post}, class: 'button-secondary' %>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <div class="show-event-icons d-flex">
        <% if !@event.user.profile.is_business %>
          <div class="d-flex align-items-center p-2"><i class="fa-regular fa-comment p-0"></i></div>
        <% end %>
        <% if Bookmark.find_by(user: current_user, event: @event) %>
          <%= link_to '<i class="fa-solid fa-bookmark p-0"></i>'.html_safe, root_path, class:"d-flex align-items-center p-2" %>
        <% else %>
          <%= link_to '<i class="fa-regular fa-bookmark p-0"></i>'.html_safe, root_path, class:"d-flex align-items-center p-2" %>
        <% end %>
      </div>

    </div>
  </div>

  <% if !@event.user.profile.is_business %>

    <div class="comments-section mb-2">

      <div class="show-comments-card">
        <h2 class="mb-3">Comments</h2>
        <div id="comments" data-event-showpage-target="comment">
          <% @event.comments.order(created_at: :asc).each do |comment| %>
            <%= render "comment", comment: comment %>
          <% end %>
        </div>
      </div>

      <%= render "comments/form" %>

    </div>

  <% end %>

</div>
