<div class="show-event-image-container mb-5">
  <%= cl_image_tag @event.photo.key, class: "event-img" %>
  <div class="event-user-info d-flex">
    <%= cl_image_tag @event.user.profile.photo.key, class: "avatar-large border-white" %>
    <div class="event-user-username"><p class="m-0">@<%= @event.user.profile.username %></p></div>
  </div>
</div>

<div class="container"
     data-controller="event-showpage map"
     data-map-markers-value="<%= @markers.to_json %>"
     data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">

  <div class="row">

    <h1 class="text-center flex-grow-1 m-0 pt-3 pb-3">
      <%= @event.title %>
      <%# if @event.user == current_user %>
        <%#= link_to '<i class="fa-solid fa-pen"></i>'.html_safe, "#", class: "event-title-btn"%>
        <%#= link_to '<i class="fa-solid fa-trash-can"></i>'.html_safe, "#", class: "event-title-btn"%>
      <%# end %>
    </h1>

    <div class="d-flex justify-content-between show-event-card-actions mt-2">

      <div class="d-flex align-items-center">
        <% if @event.user.profile.is_business %>
          <% if @booking && @booking.status == "going" %>
            <%= link_to '<i class="fa-solid fa-xmark"></i>'.html_safe, booking_path(@booking), class: 'button-reject', data: {turbo_method: :delete} %>
            <%= link_to '<i class="fa-solid fa-people-pulling"></i>'.html_safe, booking_path(@booking, status: :looking_for_a_buddy), data: {turbo_method: :patch}, class: 'button-buddy' %>
          <% elsif @booking && @booking.status == "looking_for_a_buddy" %>
            <%= link_to '<i class="fa-solid fa-check"></i>'.html_safe, booking_path(@booking, status: :going), data: {turbo_method: :patch}, class: 'button-accept' %>
            <%= link_to '<i class="fa-solid fa-person-walking"></i>'.html_safe, booking_path(@booking), data: {turbo_method: :delete}, class: 'button-unbuddy' %>
          <% else %>
            <%= link_to '<i class="fa-solid fa-check"></i>'.html_safe, event_bookings_path(@event, status: :going), data: {turbo_method: :post}, class: 'button-accept' %>
            <%= link_to '<i class="fa-solid fa-people-pulling"></i>'.html_safe, event_bookings_path(@event, status: :looking_for_a_buddy), data: {turbo_method: :post}, class: 'button-buddy' %>
          <% end %>

        <% else %>
          <% if @event.user == current_user %>
          <%else%>
            <% if @booking.nil? && @event.is_private %>
                <%= link_to '<i class="fa-solid fa-calendar-plus"></i>'.html_safe, event_bookings_path(@event, status: "going"), data: {turbo_method: :post}, class: 'button-accept' %>
                <%= link_to '<i class="fa-solid fa-calendar-xmark"></i>'.html_safe, delete_invitation_path(current_user.received_invitations.find_by(event: @event)),  data: {turbo_method: :delete}, class: 'button-reject' %>
            <% else %>
              <% if @booking && @booking.status == "going" %>
                <%= link_to '<i class="fa-solid fa-calendar-xmark"></i>'.html_safe, booking_path(@booking), data: {turbo_method: :delete}, class: 'button-reject' %>
              <% else %>
                <%= link_to '<i class="fa-solid fa-calendar-plus"></i>'.html_safe, event_bookings_path(@event, status: "going"), data: {turbo_method: :post}, class: 'button-accept' %>
              <% end %>
            <% end %>
          <% end%>
        <% end %>
      </div>


      <div class="show-event-icons d-flex">
        <% if !@event.user.profile.is_business %>
          <a href="#comment-input" class="d-flex align-items-center p-2"><i class="fa-regular fa-comment p-0"></i></a>
        <% end %>
        <% if Bookmark.find_by(user: current_user, event: @event) %>
          <%= link_to '<i class="fa-solid fa-bookmark p-0"></i>'.html_safe, root_path, class:"d-flex align-items-center p-2" %>
        <% else %>
          <%= link_to '<i class="fa-regular fa-bookmark p-0"></i>'.html_safe, root_path, class:"d-flex align-items-center p-2" %>
        <% end %>
      </div>

    </div>

    <div>

      <div class="date-place">
        <div class="d-flex align-items-center justify-content-center">
          <i class="fa-solid fa-calendar-days p-2"></i>
          <p class="text-center mt-3 mb-2 ms-3 me-3"><%= "#{@event.start_date.strftime('%e %B %Y, %H:%M')} to" %> <br> <%= "#{@event.end_date.strftime('%e %B %Y, %H:%M')}" %></p>
        </div>

        <div class="d-flex align-items-center justify-content-center">
          <i class="fa-solid fa-location-dot p-2 m-1"></i>
          <p class="text-center m-1 "><%= @event.address %></p>
        </div>
      </div>

      <p id="show-map-btn" class="mb-2 mt-2" data-action="click->event-showpage#toggleMap click->map#resize">Map <i class="fa-solid fa-caret-down"></i></p>

      <div
        class="border d-none mb-1"
        style="width: 100%; height: 300px;"
        data-map-target="map"
        data-event-showpage-target="location">
      </div>

    </div>

    <p class="text-center mt-4"><%= @event.description%></p>

  </div>

  <% @profiles.each do |profile| %>
    <%= profile.username %>
  <% end %>

  <% if !@event.user.profile.is_business %>

    <div class="comments-section mb-2">

      <div class="show-comments-card">
        <div class="d-flex justify-content-between"><h2 class="mb-3">Comments</h2><p id="show-comments-btn" data-action="click->event-showpage#toggleComments">See more <i class="fa-solid fa-caret-down"></i></p></div>
        <div data-event-showpage-target="commentSection">
          <% comments_count = @event.comments.count %>
          <% @event.comments.order(created_at: :asc).each_with_index do |comment, index| %>
            <%= render "comment", comment: comment, index: index, count: comments_count %>
          <% end %>
        </div>
      </div>

      <%= render "comments/form" %>

    </div>

  <% end %>

</div>
