<div class="event-container mt-4 ms-1 me-1">

  <div id="friends-title">
    <h1 class="text-center">Friends</h1>
  </div>
    <div class="form-inline mt-3 mb-3">
      <%= form_with(url: friendships_path, method: :get, local: true, class: "form-inline mt-3 mb-3", data: { controller: 'flatpickr' }) do |form| %>
      <%= form.text_field :query, placeholder: "Search friends", value: params[:query], class: "form-control rounded mb-3"  %>
        <div class="text-center">
          <%= form.submit "Search", class: "button-primary w-100" %>
         </div>
      <% end %>
  </div>
</div>


<% @friendships.each do |friendship| %>
  <%= link_to user_profile_path(friendship.friend.profile) do  %>
    <div class="friendships-card">
      <div class="d-flex">
        <%= cl_image_tag friendship.friend.profile.photo.key, class: "avatar-medium ms-2 me-2" %>
        <div class="friendship-details">
          <p id="friendship-username">@<%= friendship.friend.profile.username %></p>
          <div id="friendship-details-bold">
            <%= friendship.friend.profile.first_name %>
            <%= friendship.friend.profile.last_name %>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-end align-items-center flex-grow-1">
        <%# Needed to add links to friendships#destroy bellow %>
        <%= link_to "Unfollow", "#", class: "button-secondary" %>
      </div>
    </div>
  <% end %>
<% end %>
