<div id="banner">
  <%= image_tag "concert2.jpg", id: "homepage-img" %>
  <p>Share, enjoy, feel alive.</p>
</div>

<%# <p class="phrase">Changing the way people connect.</p> %>

<%= link_to "Find your next experience", events_path, class: "button-primary mt-4", id: "homepage-btn" %>

<h2 class="phrase text-center mt-4 mb-4">Don't miss these top-events!</h2>

<div class="event-container mt-4 ms-1 me-1">
  <% @public_events.first(5).each do |event| %>
    <%= link_to event_path(event) do  %>
      <div class="event-card d-flex align-items-center justify-content-center mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%= cl_image_path event.photo.key %>);">
        <div class="card-info d-flex flex-column align-items-center justify-content-around">
          <p class="event-date mt-2 mb-2 text-center"><i class="fa-solid fa-calendar-days me-2"></i><%= event.start_date.strftime('%e %B %Y') %> - <%= event.end_date.strftime('%e %B %Y') %></p>
          <h2 class="event-title text-center"><%= event.title %></h2>
          <p class="event-address m-0 d-flex justify-content-center"><span class="address text-center"><i class="fa-solid fa-location-dot"></i> <%= event.address %></span></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
